<div class="bg-turquoise w-100 ">
  <a href="../ar/content">
    <div class="bg-turquoise pa3 w-50 fr tc white b f4 b--gray bt br dim">العربية</div>
  </a>
  <a href="../en/content">
    <div class="bg-turquoise pa3 w-50 fl tc white b f4 b--gray bt br dim">English</div>
  </a>
</div>
