<div class="bg-turquoise w-100 tc">
  <a href="/{{lang}}/places">
    <div class="bg-turquoise pa3 w-50 fl white b f4 b--gray bt br dim">{{localText.placesTitle}}</div>
  </a>
  <a href="/{{lang}}/events">
    <div class="bg-turquoise pa3 w-50 fr white b f4 b--gray bt br dim">{{localText.eventsTitle}}</div>
  </a>
</div>
