<!DOCTYPE html>
<html dir={{{dir}}} lang={{{lang}}}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{localText.pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
