<div class="content__list">
  <a href="/{{lang}}/places">
  <div class="places">{{localText.placesTitle}}</div>
  </a>
  <a href="/{{lang}}/events">
  <div class="events">{{localText.eventsTitle}}</div>
</a>
</div>
