{{> header}}
<div class="light-text tc-l pv5 mt7">
  <span class="db lh-copy">Welcome to the data entry for the Nazareth Open Tourism Platform. Please use the bar above to select which type of data you wish to add.</span>
  <span class="db lh-copy">مرحبا بكم في تطبيق إدخال البيانات لمنصة السياحة المفتوحة الناصرة. يرجى استخدام الشريط أعلاه لتحديد نوع البيانات التي ترغب في إضافتها.
</span>
</div>
