body, ul, li, img, h1, span, a, div {
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  flex-direction: column;
}

li, ul, body, div, a {
  justify-content: center;
  align-items: center;
  display: flex;
}
