.bg-turquoise {
  background-color: #409A93;
}

.bg-main {
  background-color: #F2F2F2;
}

 .light-text {
   color: #95989A;
 }

 .lato {
   font-family: 'lato', sans-serif;
 }

 .dark-text {
   color: #5C5C5C;
 }

 .text-turquoise {
   color: #409A93;
 }
